:443, tw3.xxoommd.asia
tls xxoommd@tw3.xxoommd.asia
  route {
    forward_proxy {
    basic_auth xxoommd fuckyouall
    hide_ip
    hide_via
    probe_resistance
    upstream socks5://127.0.0.1:40000
  }
  respond tw3.xxoommd.asia!
}