:443, {$SITE_DOMAIN}
tls helloworld@{$SITE_DOMAIN}
  route {
    forward_proxy {
    basic_auth {$USERNAME} {$PASSWORD}
    hide_ip
    hide_via
    probe_resistance
    upstream socks5://{$CLOUDFLARE_CLI}:40000
  }
  respond {$SITE_DOMAIN}!
}